body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-check input,
.form-check label {
  cursor: pointer;
}

button.btn, button.btn:not(:disabled):not(.disabled):active, button.btn:hover, button.btn:focus, button.btn:active, button.btn:not(:disabled):not(.disabled):focus {
  outline: 0 none;
  box-shadow: none;
}

.text-blue {
  color: #5e72e4!important;
}

.text-orange {
  color: #fb6340!important;
}

.text-yellow {
  color: #ffd600!important;
}

.text-red {
  color: #f5365c!important;
}

.text-info {
  color: #11cdef!important;
}

.text-pink {
  color: #f3a4b5!important;
}
